spring:
  application:
    name: kaka-api
  main:
    banner-mode: OFF
  web:
    resources:
      add-mappings: false
  datasource:
    url: jdbc:postgresql://${NAIS_DATABASE_KAKA_API_KAKA_API_HOST}:${NAIS_DATABASE_KAKA_API_KAKA_API_PORT}/${NAIS_DATABASE_KAKA_API_KAKA_API_DATABASE}
    username: ${NAIS_DATABASE_KAKA_API_KAKA_API_USERNAME}
    password: ${NAIS_DATABASE_KAKA_API_KAKA_API_PASSWORD}
  flyway:
    enabled: true
    clean-disabled: true
    schemas: flyway_history_schema,kaka
  jpa:
    open-in-view: false
    properties:
      hibernate:
        session:
          events:
            log:
              LOG_QUERIES_SLOWER_THAN_MS: 100
  lifecycle:
    timeout-per-shutdown-phase: 20s
  mvc:
    format:
      date: yyyy-MM-dd

server:
  port: 7070
  error:
    whitelabel:
      enabled: false
  shutdown: graceful
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 5KB

management:
  endpoint:
    health:
      show-details: always
  endpoints.web:
    exposure:
      include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    enabled: false
  prometheus:
    metrics:
      export:
        enabled: true
#
#logging:
#  level:
#    root: debug

no.nav.security.jwt:
  issuer:
    aad:
      discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
      accepted_audience: ${AZURE_APP_CLIENT_ID}
  client:
    registration:
      azure-onbehalfof:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
        scope: https://graph.microsoft.com/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
      pdl-maskintilmaskin:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: client_credentials
        scope: api://${PDL_SCOPE}/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

kabalApiName: ${NAIS_CLUSTER_NAME}:${NAIS_NAMESPACE}:${KABAL_API_APP_NAME}

KABAL_API_APP_NAME: "kabal-api"

MICROSOFT_GRAPH_URL: https://graph.microsoft.com/v1.0

SERVICE_USER_USERNAME: srvklage-saksbeh

EGENANSATT_KAFKA_TOPIC: nom.skjermede-personer-v1