<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="local">
        <appender name="text" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <logger name="team-logs" level="debug" additivity="false">
            <appender-ref ref="text"/>
        </logger>

        <root level="info">
            <appender-ref ref="text"/>
        </root>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug"/>
    </springProfile>

    <springProfile name="!local">
        <appender name="audit" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n%xEx</pattern>
            </layout>

            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host>
                <port>6514</port>
                <ident>kaka-api</ident>
                <maxMessageLength>128000</maxMessageLength>
            </syslogConfig>
        </appender>

        <logger level="INFO" name="audit" additivity="false">
            <appender-ref ref="audit"/>
        </logger>

        <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>team-logs.nais-system:5170</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
                <includeContext>false</includeContext>
            </encoder>
        </appender>

        <logger name="team-logs" level="debug" additivity="false">
            <appender-ref ref="team-logs"/>
        </logger>

        <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="info">
            <appender-ref ref="json"/>
        </root>

        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="false">
            <appender-ref ref="json"/>
        </logger>

        <logger name="org.springframework.data.convert.CustomConversions" level="error"/>

        <logger name="no.nav.security.token.support.spring.validation.interceptor.JwtTokenHandlerInterceptor"
                level="warning"/>

        <logger name="org.hibernate.SQL" level="debug"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="debug"/>
        <logger name="org.hibernate.SQL_SLOW" level="debug"/>

    </springProfile>

    <logger name="no.nav.klage" level="debug"/>

</configuration>
