apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: kaka-api
  namespace: klage
  labels:
    team: klage
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "100M"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "120"
spec:
  image: {{ image }}
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
  port: 7070
  gcp:
    sqlInstances:
      - name: kaka-api
        type: {{ db_type }}
        maintenance:
          day: 1
          hour: 4
        tier: {{db_tier}}
        diskType: SSD
        highAvailability: {{db_ha}}
        diskSize: {{db_size}}
        diskAutoresize: true
        autoBackupHour: 2
        cascadingDelete: false
        databases:
          - name: kaka-api
  kafka:
    pool: {{kafka_pool}}
  startup:
    failureThreshold: 8
    initialDelay: 30
    path: /internal/health
    periodSeconds: 10
    timeout: 2
  liveness:
    path: /internal/health
    timeout: 3
    periodSeconds: 5
    failureThreshold: 5
  readiness:
    path: /internal/health
    timeout: 3
    periodSeconds: 5
    failureThreshold: 5
  prometheus:
    enabled: true
    path: /internal/metrics
  azure:
    application:
      enabled: true
      tenant: {{tenant}}
      allowAllUsers: true
      claims:
        groups:
        {{#each groups}}
          - id: {{value}}
        {{/each}}
        extra:
          - NAVident
          - azp_name
  {{#if ingresses}}
  ingresses:
  {{#each ingresses as |ingress|}}
    - {{ingress}}
  {{/each}}
  {{/if}}
  accessPolicy:
    inbound:
      rules:
        - application: kaka-frontend
        - application: kabal-frontend
        - application: kabal-api
    outbound:
      rules:
        - application: kabal-document
        - application: kaka-api
        - application: logging
          namespace: nais-system
      external:
      {{#each externalHosts}}
        - host: {{host}}
          {{#if ports}}
          ports:
            {{#each ports}}
            - name: {{name}}
              port: {{port}}
              protocol: {{protocol}}
            {{/each}}
          {{/if}}
      {{/each}}
  envFrom:
    - secret: sts-apikey
    - secret: pdl-apikey
    - secret: ereg
    - secret: ereg-services
  resources:
    limits:
      memory: {{ limits_memory }}
    requests:
      cpu: {{ requests_cpu }}
      memory: {{ requests_memory }}
  replicas:
    min: {{replicasMin}}
    max: {{replicasMax}}
    cpuThresholdPercentage: 90
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: {{springProfile}}
  {{#each envs}}
    - name: {{name}}
      value: {{value}}
  {{/each}}
  {{#each groups}}
    - name: {{name}}
      value: {{value}}
  {{/each}}